# DataCamp SQLAlchemy

https://app.datacamp.com/learn/courses/introduction-to-relational-databases-in-python

## Chapter 1 Transcripts

1. Connecting to your database

In the Python world, there are several great tools that we can use when working with databases.

2. Meet SQLAlchemy

One of those is SQLAlchemy that we will be using throughout this course. SQLAlchemy will allow us to generate SQL queries by writing Python code. You should still consider learning how to write queries in SQL as well. SQLAlchemy has two main components. The part we will be focusing on is often referred to as "core" part of SQLAlchemy. It's really focused around the relational model of the database. Additionally, there is the Object Relational Model or ORM part of SQLAlchemy that is really focused around data models and classes that you as a programmer create.

3. There are many types of databases

There are many different types of databases, and each database type has its own quirks and unique capabilities. You'll commonly find SQLite, PostgreSQL, MySQL, Microsoft SQL Server, and Oracle when working with data. SQLAlchemy provides a way to operate across all of these database types in a consistent manner.

4. Connecting to a database

To connect to a database, we need a way to talk to it, and an engine provides that common interface. To create an engine, we import the create_engine function from sqlalchemy; we then use the create_engine function and supply it a connection string that provides the details needed to connect to a database. Finally once we have an engine, we are ready to make a connection using the connect method on the engine. It's worth noting that SQLAlchemy won't actually make the connection until we give it some work to execute. So to review, an engine is the common interface to the database, which requires a connection string to provide the details used to find and connect to the database.

5. A word on connection strings

Before we go any further, let's talk a bit more about connection strings. In their simplest form, they tell us what kind of database we are talking to and how we should access it. In this example, you can see that we are using the sqlite database driver

6. A word on connection strings

and the database file named census_nyc-dot-sqlite which is in the current directory.

7. What's in your database?

Now that we have an engine and a connection, we need to know what tables are in the database. We'll start again by importing the create_engine function and creating an engine to our database. Finally, we can use the table_names method of the engine which returns a list of tables.

8. Reflection

Once we know what table we want to work on, we need a way to access that table with python. To do that we are going to use a handy process called reflection, which reads the database and builds a Table object that we can use in our code. We already have created our engine, so we begin by importing the MetaData and Table objects needed for reflection. The MetaData object is a catalog that stores database information such as tables so we don't have to keep looking them up. To reflect the table, we initialize a MetaData object. Next, we use the SQLAlchemy Table object and provide the table name we got earlier from the table_names method. We also supply our metadata instance, and then instruct it to autoload the table using the engine. Finally, we can use the function repr to view the details of our table that we stored as census. This allows us to see the names of the columns, such as the 'state' and 'sex' columns, along with their types, such as VARCHAR and INTEGER. This process of reflection may seem a bit of an overhead, but it will make understanding your databases and extracting information from them far easier downstream.

In [2]:
from sqlalchemy import create_engine

# Create engine that connects to the census.sqlite file
# /// is relative path
# //// is absolute path
engine = create_engine('sqlite:///census.sqlite')

print(engine.table_names())  # deprecated

['census', 'state_fact']

C:\Users\garth\AppData\Local\Temp\ipykernel_2084\1701161539.py:7: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  print(engine.table_names())  # deprecated

Autoloading Tables from a database
SQLAlchemy can be used to automatically load tables from a database using something called reflection. **Reflection is the process of reading the database and building the metadata based on that information**. It's the **opposite of creating a Table by hand** and is very useful **for working with existing databases**.

To perform reflection, you will first need to import and initialize a MetaData object. MetaData objects contain information about tables stored in a database. During reflection, the MetaData object will be populated with information about the reflected table automatically, so we only need to initialize it before reflecting by calling MetaData().

You will also need to import the Table object from the SQLAlchemy package. Then, you use this Table object to read your table from the engine, autoload the columns, and populate the metadata. This can be done with a single call to Table(): using the Table object in this manner is a lot like passing arguments to a function. For example, to autoload the columns with the engine, you have to specify the keyword arguments autoload=True and autoload_with=engine to Table().

Finally, to view information about the object you just created, you will use the repr() function. For any Python object, repr() returns a text representation of that object. For SQLAlchemy Table objects, it will return the information about that table contained in the metadata.

In [ ]:
# Import create_engine, MetaData, and Table
from sqlalchemy import create_engine, MetaData, Table

# Create engine
engine = create_engine('sqlite:///census.sqlite')

# Create a metadata object
metadata = MetaData()

# Reflect census table from the engine
census = Table('census', metadata, autoload=True, autoload_with=engine)

print(repr(census))

It is important to get an understanding of your database by examining the column names. This can be done by using the .columns attribute and accessing the .keys() method. For example, census.columns.keys() would return a list of column names of the census table.

Following this, we can use the metadata container to find out more details about the reflected table such as the columns and their types. For example, information about the table objects are stored in the metadata.tables dictionary, so you can get the metadata of your census table with metadata.tables['census']. This is similar to your use of the repr() function on the census table from the previous exercise.

The code for connecting to the engine and initializing the metadata you wrote in the previous exercises is displayed for you again and for the last time. From now on and until Chapter 5, this will usually be done behind the scenes.

In [5]:
from sqlalchemy import create_engine, MetaData, Table

engine = create_engine('sqlite:///census.sqlite')

metadata = MetaData()

# Reflect the census table from the engine
census = Table('census', metadata, autoload=True, autoload_with=engine)

# Print the column names
print(census.columns.keys())

# Print full metadata of census
print(repr(metadata.tables['census']))

['state', 'sex', 'age', 'pop2000', 'pop2008']
Table('census', MetaData(), Column('state', VARCHAR(length=30), table=<census>), Column('sex', VARCHAR(length=1), table=<census>), Column('age', INTEGER(), table=<census>), Column('pop2000', INTEGER(), table=<census>), Column('pop2008', INTEGER(), table=<census>), schema=None)

1. Introduction to SQL queries

The SQL query language can be used to do anything within the database.

2. SQL Statements

It can select data, insert new data, update existing data, and delete it. It can also be used to create, alter and delete tables and columns. The first SQL statement we'll learn is the select statement, which provides the basic method of extracting information from your database.

3. Basic SQL querying

The general syntax of a select statement is select COLUMNS from TABLE CONDITIONS. For example, we can select the pop2008 column from the people table. We can also select all the columns from the people table with an asterisk. Let's execute this last query.

4. Basic SQL querying

We'll begin by importing create_engine and creating an engine. Next, we will establish a connection by using the connect method on the engine. Then we can define our select statement and pass it to the execute method on the connection. This gives us an object we can use to fetch the results, which we assign to the variable results_proxy. Then we tell results_proxy to fetch all the results via the fetchall method. Now results will contain all of the data from our people table. Let's pause for just a moment and look at that object that the execute method gave us.

5. ResultProxy vs ResultSet

That object is called a ResultProxy and it can be used in a variety of different ways to get the data returned by our query. When we use a fetch method, such as fetchall, on the ResultProxy, we get a ResultSet that contains the actual data we asked for in the query. This separation between the ResultProxy and the ResultSet allows us to fetch as much or as little data as we desire. We'll explore this more in a later section. Let's learn how to work with a ResultSet.

6. Handling ResultSets

In this example we are using the results from the prior query. We'll start by getting the first_row of the results using an index of 0. By printing the first row, we can see the data it contains. If we want to know what columns are in the row, we can find out by using the keys method. Finally, we print the value of the state column from the first row, by using the column name as an attribute on the row object.

7. SQLAlchemy to build queries

In the prior query example, we wrote a normal SQL statement as a string; however, manipulating a string to build more complex statements can be very overwhelming. The beauty of SQLAlchemy is that it allows us to assemble these complex statements in a Pythonic way. Pythonic refers to code that adheres to the idioms of Python's common guidelines and expresses its intent in a highly readable way. SQLAlchemy also hides the difference between database types so we can focus on the data we want to work with instead of the differences we might encounter in each database type. Let's rebuild the same query using SQLAlchemy.

8. SQLAlchemy querying

The first three steps of creating an engine and establishing a connection will be the same. After that, we will need to initialize our metadata and reflect the table as we did previously. Then in line 7, we build our select statement. Hang tight we'll talk more about this in a second. Finally, we execute the statement and fetch all the results.

9. SQLAlchemy select statement

The SQLAlchemy select statement works the same as a SQL select statement, and in its most basic form takes a list of Column or Table objects. For example, stmt equals select census will select all the columns of all the rows in the census table. SQLAlchemy generates the same SQL statement we wrote by hand. We can see that by using the print function on the statement which outputs SELECT * FROM census.

### Exercise

To access and manipulate the data in the database, we will first need to establish a connection to it by using the .connect() method on the engine. This is because the create_engine() function that you have used before returns an instance of an engine, but it does not actually open a connection until an action is called that would require a connection, such as a query.

Using what we just learned about SQL and applying the .execute() method on our connection, we can leverage a raw SQL query to query all the records in our census table. The object returned by the .execute() method is a ResultProxy. On this ResultProxy, we can then use the .fetchall() method to get our results - that is, the ResultSet.

In this exercise, you'll use a traditional SQL query. Notice that when you execute a query using raw SQL, you will query the table in the database directly. In particular, no reflection step is needed.

In [12]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///census.sqlite')

# Create a connection on engine
connection = engine.connect()

# Build select statement for census table
stmt = 'SELECT * FROM census'

# Execute the statement and fetch the results
results = connection.execute(stmt).fetchall()

# Print results
print(results[0])
print(results[1])
print(results[2])

('Illinois', 'M', 0, 89600, 95012)
('Illinois', 'M', 1, 88445, 91829)
('Illinois', 'M', 2, 88729, 89547)

It's now time to build your first select statement using SQLAlchemy. SQLAlchemy provides a nice "Pythonic" way of interacting with databases. 

When you used raw SQL in the last exercise, you queried the database directly. When using SQLAlchemy, you will **go through a Table object instead, and SQLAlchemy will take case of translating your query to an appropriate SQL statement** for you. So rather than dealing with the differences between specific dialects of traditional SQL such as **MySQL or PostgreSQL, you can leverage the Pythonic framework of SQLAlchemy to streamline** your workflow and more efficiently query your data. For this reason, it is worth learning even if you may already be familiar with traditional SQL.

In this exercise, you'll once again build a statement to query all records from the census table. This time, however, you'll make use of the select() function of the sqlalchemy module. This function requires a list of tables or columns as the only required argument.

You will also fetch only a few records of the ResultProxy by using .fetchmany() with a size argument specifying the number of records to fetch.

Table and MetaData have already been imported. The metadata is available as metadata and the connection to the database as connection.

In [18]:
from sqlalchemy import select

# Reflect census table via engine
census = Table('census', metadata, autoload=True, autoload_with=engine)

# Build select statement for census table
stmt = select([census])
print(stmt)

# Execute the statement on connection and fetch 10 records
results = connection.execute(stmt).fetchmany(size=10)
print(results[0])
print(results[1])
print(results[2])

SELECT census.state, census.sex, census.age, census.pop2000, census.pop2008
FROM census
('Illinois', 'M', 0, 89600, 95012)
('Illinois', 'M', 1, 88445, 91829)
('Illinois', 'M', 2, 88729, 89547)

Recall the differences between a ResultProxy and a ResultSet:

- ResultProxy: The object returned by the .execute() method. It can be used in a variety of ways to get the data returned by the query.
- ResultSet: The actual data asked for in the query when using a fetch method such as .fetchall() on a ResultProxy.

This separation between the ResultSet and ResultProxy allows us to fetch as much or as little data as we desire.

Once we have a ResultSet, we can use Python to access all the data within it by column name and by list style indexes. For example, you can get the first row of the results by using results[0]. With that first row then assigned to a variable first_row, you can get data from the first column by either using first_row[0] or by column name such as first_row['column_name'].

In [19]:
# Get the first row of the results by using an index: first_row
first_row = results[0]

# Print the first row of the results
print(first_row)

# Print the first column of the first row by accessing it by its index
print(first_row[0])

# Print the state column of the first row by using its name
print(first_row['state'])

('Illinois', 'M', 0, 89600, 95012)
Illinois
Illinois

1. You already...

You have become acquainted with the basics of the relational model and relational databases and are now able to make basic SQL queries using SQLAlchemy.

2. Coming up next...

In the rest of this course, you'll beef up your SQL querying skills and learn how to extract all types of useful information from your databases using SQLAlchemy. In addition, you'll learn how to create and write to relational databases. In the final chapter, a deep dive into the US census dataset; in that chapter you'll create a database, load data, and query it in order to extract information about US demographics.

## Chapter 2 Transcripts

1. Filtering and targeting data

Now that we have the basics of connecting to the database and making a query down, it's time to dig deeper into select queries. So far, we've selected all the rows from a table. However, there is a way to filter rows by their values in particular columns using a where() clause on our select statements.

2. Where clauses

For example, let's say that we want to select all the records for the state of California. We start with the same select statement and add a where clause onto it that specifies that the value in the 'State' column must be equal to California. We then execute the statement and fetch all the results, as we have done before. We wrap up by looping over the results and print the state and age column from each row.

3. Where clauses

More generally, where clauses restrict data by performing an evaluation of a condition. Often this is a column that we want to compare with a value or another column. In the prior example, we tested equality of column values with 'California'. In addition to equality, with numerical values, there are also operators for greater than, less than and the other standard math comparison operators.

4. Expressions

In addition to such comparisons, there are also SQL expressions that provide more complex conditions than simple operators. A few common expression are in_() which match the column's value against a list, like() which matches the column's value against a partial value with wild cards, and between() which checks to see if the column's value is between two supplied values. There are many others as well. These expressions are available as methods on our Column objects. We can use such expressions to do things such as find all the state names that start with 'New'. In fact, Let's do just that.

5. Expressions

We start with the same basic select statement and add a where clause with the state column and use the startswith method on that column. We then loop over the ResultProxy and print the state and population in the year 2000. Note that we didn't call a fetch method in this example. This is a feature of SQLAlchemy to allow the ResultProxy to be used as the target of a loop.

6. Conjunctions

We can also use conjunctions which allow us to have multiple criteria in a where clause. The conjunctions are and_(), not_(), and or_() and they work just like they would in a sentence. Conjunctions can be useful for getting exactly the data we want. You might notice that these methods have an _ in their names. This is to avoid conflicting with the Python methods of the same name. It's also possible to nest multiple conjunctions to get extremely specific about the data we select, but that's not covered in this class. Let's see an example usage of conjunctions.

7. Conjunctions

For this example, we want to get all the records for California and New York. I could do this in a few different ways, but in this case I want to use the or_() conjunction. After we build our initial statement, we append a where clause with a single argument, which is the or_ conjunction; we also pass two arguments to or_, which match the states of California and New York, respectively, I then execute the statement and print the columns I want to see.

### Exercise

In these exercises, you will be working with real databases hosted on the cloud via Amazon Web Services (AWS)!

Let's begin by connecting to a PostgreSQL database. When connecting to a PostgreSQL database, many prefer to use the psycopg2 database driver as it supports practically all of PostgreSQL's features efficiently and is the standard dialect for PostgreSQL in SQLAlchemy.

You might recall from Chapter 1 that we use the create_engine() function and a connection string to connect to a database. In general, connection strings have the form "dialect+driver://username:password@host:port/database"

There are three components to the connection string in this exercise: the dialect and driver ('postgresql+psycopg2://'), followed by the username and password ('student:datacamp'), followed by the host and port ('@postgresql.csrrinzqubik.us-east-1.rds.amazonaws.com:5432/'), and finally, the database name ('census'). You will have to pass this string as an argument to create_engine() in order to connect to the database.

In [24]:
from sqlalchemy import create_engine

# Create an engine to the census database
engine = create_engine('postgresql+psycopg2://student:datacamp@postgresql.csrrinzqubik.us-east-1.rds.amazonaws.com:5432/census')
print(engine.table_names())  # deprecated

C:\Users\garth\AppData\Local\Temp\ipykernel_2084\2357661165.py:5: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  print(engine.table_names())  # deprecated

['datatrial', 'datatrial2', 'census', 'new_data', 'census1', 'data', 'data1', 'employees', 'employees3', 'employees_2', 'nyc_jobs', 'final_orders', 'state_fact', 'orders', 'users', 'vrska']

As mentioned in the video, a **where() clause is used to filter the data** that a statement returns. For example, to select all the records from the census table where the sex is Female (or 'F') we would do the following:

select([census]).where(census.columns.sex == 'F')

In addition to == we can use basically any python comparison operator (such as <=, !=, etc) in the where() clause.

In [26]:
# Create a select query
stmt = select([census])

# Add a where clause to stmt filter the results to only those for New York
stmt = stmt.where(census.columns.state == 'New York')

# Execute the query to retrieve all the data returned
results = connection.execute(stmt).fetchall()

# Loop over the results and print the age, sex, and pop2000
for result in results[0:10]:
    print(result.age, result.sex, result.pop2000)

0 M 126237
1 M 124008
2 M 124725
3 M 126697
4 M 131357
5 M 133095
6 M 134203
7 M 137986
8 M 139455
9 M 142454

In addition to standard Python comparators, we can also use methods such as **in_()** to create more powerful where() clauses. You can see a full list of expressions in the SQLAlchemy Documentation.

Method in_(), when used on a column, allows us to include records where the value of a column is among a list of possible values. For example, where(census.columns.age.in_([20, 30, 40])) will return only records for people who are exactly 20, 30, or 40 years old.

In [35]:
# Define a list of states for which we want results
states = ['New York', 'California', 'Texas']

# Create a query for the census table
stmt = select([census])

# Append a where clause to match all the states in_ the list states
stmt = stmt.where(census.columns.state.in_(states))

# Loop over the ResultProxy and print the state and its population in 2000
i = 0  # I don't know how to limit print results, so this is a hack
for result in connection.execute(stmt):
    i += 1
    if i < 10:
        print(result.state, result.pop2000)

New York 126237
New York 124008
New York 124725
New York 126697
New York 131357
New York 133095
New York 134203
New York 137986
New York 139455

SQLAlchemy also allows users to use conjunctions such as **and_(), or_(), and not_()** to build more complex filtering. For example, we can get a set of records for people in New York who are 21 or 37 years old with the following code:

```python
select([census]).where(
  and_(census.columns.state == 'New York',
       or_(census.columns.age == 21,
          census.columns.age == 37
         )
      )
  )
```
An equivalent SQL statement would be,for example,

```sql
SELECT * 
FROM census 
WHERE state = 'New York' 
AND 
    (
    age = 21 
    OR age = 37
    )
```

In [37]:
from sqlalchemy import and_

# Build a query for the census table
stmt = select([census])

# Append a where clause to select only non-male records from California using and_
stmt = stmt.where(
    # The state of California with a non-male sex
    and_(census.columns.state == 'California',
         census.columns.sex != 'M'
         )
)

# Loop over the ResultProxy printing the age and sex
i = 0
for result in connection.execute(stmt):
    i += 1
    if i < 10:
        print(result.age, result.sex)

0 F
1 F
2 F
3 F
4 F
5 F
6 F
7 F
8 F

### Transcript

1. Ordering query results

Often when we are building queries,

2. Order by clauses

we will want to order the return data alphabetically, numerically, or by dates. It is easy to do so in SQLAlchemy by using the order_by() method on any statement, which by default orders from lowest to highest. In the case of strings, this means in alphabetical order.

3. Order by ascending

Initially when I selected the state field from all the records in a prior query, I got Illinois back as the first result. I really want the states in alphabetical order. To do that built a select statement for the state column of the census table. Then I append an order_by clause on my select statement that targets the state column. After executing that statement, I can see that the results now start with Alabama.

4. Order by descending

If we want to sort from highest to lowest, we can do so by wrapping a column in the order_by() clause with the desc() function, which is short for 'descending' and will reverse the natural sort order and make it highest to lowest. You'll get to practice using the desc() function in the interactive exercises that follow this video.

5. Order by multiple

Often we might want to order by one column such as district and then within each district order by age. We can accomplish this by passing multiple columns to the order_by() method and it will fully sort the first column, then within the rows that have matching values for the first column it sorts by the second column and so on until all sort columns are satisfied.

6. Order by multiple

In this example, I want to get all the states in alphabetical order. Then within each state, I want to get the genders in alphabetical order as well. To demonstrate this, I've already performed a select statement to get the state and sex from the census table where it's in the wrong order. Next, we build a select statement for the state and sex columns. Then, we append an order by clause that targets the state and sex columns. Now I can see that after executing the query, we get Alabama and Female as the first state and sex combo in our result set.

### Exercise

To sort the result output by a field, we use the **.order_by()** method. By default, the .order_by() method sorts from lowest to highest on the supplied column. You just have to pass in the name of the column you want sorted to .order_by().

In [38]:
# Build a query to select the state column
stmt = select([census.columns.state])

# Order stmt by the state column
stmt = stmt.order_by(census.columns.state)

# Execute the query and store the results
results = connection.execute(stmt).fetchall()
print(results[:10])

[('Alabama',), ('Alabama',), ('Alabama',), ('Alabama',), ('Alabama',), ('Alabama',), ('Alabama',), ('Alabama',), ('Alabama',), ('Alabama',)]

You can also use .order_by() to sort from highest to lowest by wrapping a column in the desc() function. Although you haven't seen this function in action, it generalizes what you have already learned.

Pass **desc()** (for "descending") inside an .order_by() with the name of the column you want to sort by. For instance, stmt.order_by(desc(table.columns.column_name)) sorts column_name in descending order.

In [39]:
from sqlalchemy import desc

# Build a query to select the state column
stmt = select([census.columns.state])

# Order stmt by state in descending order
rev_stmt = stmt.order_by(desc(census.columns.state))

# Execute the query and store the results
rev_results = connection.execute(rev_stmt).fetchall()
print(rev_results[:10])

[('Wyoming',), ('Wyoming',), ('Wyoming',), ('Wyoming',), ('Wyoming',), ('Wyoming',), ('Wyoming',), ('Wyoming',), ('Wyoming',), ('Wyoming',)]

We can pass multiple arguments to the .order_by() method to order by multiple columns. In fact, we can also sort in ascending or descending order for each individual column. Each column in the .order_by() method is fully sorted from left to right. This means that the first column is completely sorted, and then within each matching group of values in the first column, it's sorted by the next column in the .order_by() method. This process is repeated until all the columns in the .order_by() are sorted.

In [41]:
# Build a query to select state and age
stmt = select([census.columns.state, census.columns.age])

# Append order by to ascend by state and descend by age
stmt = stmt.order_by(census.columns.state, desc(census.columns.age))

# Execute the statement and store all the records
results = connection.execute(stmt).fetchall()
print(results[:10])

[('Alabama', 85), ('Alabama', 85), ('Alabama', 84), ('Alabama', 84), ('Alabama', 83), ('Alabama', 83), ('Alabama', 82), ('Alabama', 82), ('Alabama', 81), ('Alabama', 81)]

### Aggregate Transcripts

1. Counting, summing, and grouping data

Often, we want to be able to count the data we are working with or calculate the sum of a column in our data.

2. SQL functions

Things like count and sum are SQL aggregation functions, and they can be found in the func sqlalchemy module. It's far more efficient to let SQL perform these functions than to get all the results and loop over them in Python. We call them aggregation functions because they collapse multiple records into one.

3. Sum example

For example what if I wanted to get a sum of the census pop2008 column for all the records? After I had created an engine, metadata, and reflected the table, I would import the func module. Then in my select statement where I would normally just put the column, I put the column wrapped by func-dot-sum. Then I use the scalar fetch method to get back just a value and print it. It's important not to import the sum function directly, because it will conflict with Python's built-in sum function.

4. Group by

Often when using a function, we want to do so by some grouping of another column. For example, we may want to get a sum of the population aggregated by sex in the census database. To do so, we can use a group_by() clause to specify the data we want to aggregate by.

5. Group by

To get a sum of the population by gender in the census database, we would select the sex column and the func.sum of the pop2008 column. Then we would append a group by clause that targets the sex column. Then when we execute the query and get the results, we will have the data summed by the sex value of each record.

6. Group by

Much like order_by, the group_by clause can accept multiple columns and will group with in the groups from left to right. Every column in the select statement must in the group_by clause or wrapped in a function such as sum or count.

7. Group by multiple

We could go a step further and group by both sex and age to get the number of people for each sex by age in the 2008 population. We'd just add the age column to both the select statement and the group_by clause as shown here.

8. Handling ResultSets from functions

When we use a function such as sum or count, the column name that represents the function in our results is set to a placeholder. For example, if we had a count function in our select statement it would appear as the count_1 column in the result set. This can make it difficult to handle the result set; however, we can use the label() method on a function to give the output column a specific name.

9. Using label()

So if we wanted to calculate the population by sex, you can see that it returns a sum_1 column in the result set. if we wanted to call that pop2008sum in the result set, we would use the label method on our func-dot-sum clause. Then append the usual group by clause onto the statement, and after executing the query, I would be able to use that name when accessing the components of each result in the result set.

### Exercise

SQLAlchemy's `func` module provides access to built-in SQL functions that can make operations like counting and summing faster and more efficient.

Jason used `func.sum()` to get a sum of the pop2008 column of census as shown below:

`select([func.sum(census.columns.pop2008)])`

If instead you want to count the number of values in pop2008, you could use func.count() like this:

`select([func.count(census.columns.pop2008)])`

Furthermore, if you only want to count the distinct values of pop2008, you can use the .distinct() method:

`select([func.count(census.columns.pop2008.distinct())])`

In this exercise, you will practice using func.count() and .distinct() to get a count of the distinct number of states in census.

So far, you've seen .fetchall(), .fetchmany(), and .first() used on a ResultProxy to get the results. The ResultProxy also has a method called .scalar() for getting just the value of a query that returns only one row and column.

This can be very useful when you are querying for just a count or sum.